# NBA Data Project

*Eduard Culajay Xajil*

## Preliminaries

The dataset and its description are both in the `data` folder. For this project you'll need `numpy`, `pandas`, and either `matplotlib` or `seaborn` for visualization. 

In the next cell, make your imports and load the dataset:

In [1]:
# Imports and loading the dataset
import numpy as np
import pandas as pd
import seaborn as sns

nba = pd.read_csv("data/nba_data.csv")

## Exploration

Use `.head()` and `.info()` to ensure that the data was loaded correctly and to get a feel for the data types in each column. Use `.describe()` to check whether or not there are any extreme values that don't make sense (*e.g. Can someone play negative minutes or score negative points? Can someone play a million minutes when there are only 48 minutes per game and 82 games in a season?*)

In [9]:
# Exploring the dataset
nba.head()
nba.info()
nba.describe()
nba.info()
nba

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             679 non-null    object
 1   Pos                679 non-null    object
 2   Age                679 non-null    int64
 3   Tm                 679 non-null    object
 4   G                  679 non-null    int64
 5   GS                 679 non-null    int64
 6   MP                 679 non-null    int64
 7   FG                 679 non-null    int64
 8   FGA                679 non-null    int64
 9   FG%                676 non-null    float64
 10  3P                 679 non-null    int64
 11  3PA                679 non-null    int64
 12  3P%                655 non-null    float64
 13  2P                 679 non-null    int64
 14  2PA                679 non-null    int64
 15  2P%                672 non-null    float64
 16  eFG%               676 non-null    float64
 17  FT                 679 non-null    int64
 18  FTA                679 non-null    int64
 19  FT%                642 non-null    float64
 20  ORB                679 non-null    int64
 21  DRB                679 non-null    int64
 22  TRB                679 non-null    int64
 23  AST                679 non-null    int64
 24  STL                679 non-null    int64
 25  BLK                679 non-null    int64
 26  TOV                679 non-null    int64
 27  PF                 679 non-null    int64
 28  PTS                679 non-null    int64
 29  Player-additional  679 non-null    object
dtypes: float64(5), int64(21), object(4)
memory usage: 159.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             679 non-null    object
 1   Pos                679 non-null    object
 2   Age                679 non-null    int64
 3   Tm                 679 non-null    object
 4   G                  679 non-null    int64
 5   GS                 679 non-null    int64
 6   MP                 679 non-null    int64
 7   FG                 679 non-null    int64
 8   FGA                679 non-null    int64
 9   FG%                676 non-null    float64
 10  3P                 679 non-null    int64
 11  3PA                679 non-null    int64
 12  3P%                655 non-null    float64
 13  2P                 679 non-null    int64
 14  2PA                679 non-null    int64
 15  2P%                672 non-null    float64
 16  eFG%               676 non-null    float64
 17  FT                 679 non-null    int64
 18  FTA                679 non-null    int64
 19  FT%                642 non-null    float64
 20  ORB                679 non-null    int64
 21  DRB                679 non-null    int64
 22  TRB                679 non-null    int64
 23  AST                679 non-null    int64
 24  STL                679 non-null    int64
 25  BLK                679 non-null    int64
 26  TOV                679 non-null    int64
 27  PF                 679 non-null    int64
 28  PTS                679 non-null    int64
 29  Player-additional  679 non-null    object
dtypes: float64(5), int64(21), object(4)
memory usage: 159.3+ KB

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,Precious Achiuwa,C,23,TOR,55,12,1140,196,404,0.485,...,100,228,328,50,31,30,59,102,508,achiupr01
1,Steven Adams,C,29,MEM,42,42,1133,157,263,0.597,...,214,271,485,97,36,46,79,98,361,adamsst01
2,Bam Adebayo,C,25,MIA,75,75,2598,602,1114,0.540,...,184,504,688,240,88,61,187,208,1529,adebaba01
3,Ochai Agbaji,SG,22,UTA,59,22,1209,165,386,0.427,...,43,78,121,67,16,15,41,99,467,agbajoc01
4,Santi Aldama,PF,22,MEM,77,20,1682,247,525,0.470,...,85,286,371,97,45,48,60,143,696,aldamsa01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,Thaddeus Young,PF,34,TOR,54,9,795,108,198,0.545,...,71,95,166,75,54,5,42,88,240,youngth01
675,Trae Young,PG,24,ATL,73,73,2541,597,1390,0.429,...,56,161,217,741,80,9,300,104,1914,youngtr01
676,Omer Yurtseven,C,24,MIA,9,0,83,16,27,0.593,...,8,15,23,2,2,2,4,16,40,yurtsom01
677,Cody Zeller,C,30,MIA,15,2,217,37,59,0.627,...,25,39,64,10,3,4,14,33,98,zelleco01
678,Ivica Zubac,C,25,LAC,76,76,2170,326,514,0.634,...,236,520,756,77,29,98,117,219,818,zubaciv01

## Data Cleaning

- The `Rk` and `Player-additional` columns won't be useful to us. Delete them.
- There are several columns with null entries; deal with them appropriately:
    - Is it reasonable for null entries to exist in these columns?
    - Do we need to replace the null values with some other value?

In [12]:
# Cleaning the dataset
#nba = nba.drop(['Rk','Player-additional'], inplace=True)
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 679 entries, 0 to 678
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Player             679 non-null    object
 1   Pos                679 non-null    object
 2   Age                679 non-null    int64
 3   Tm                 679 non-null    object
 4   G                  679 non-null    int64
 5   GS                 679 non-null    int64
 6   MP                 679 non-null    int64
 7   FG                 679 non-null    int64
 8   FGA                679 non-null    int64
 9   FG%                676 non-null    float64
 10  3P                 679 non-null    int64
 11  3PA                679 non-null    int64
 12  3P%                655 non-null    float64
 13  2P                 679 non-null    int64
 14  2PA                679 non-null    int64
 15  2P%                672 non-null    float64
 16  eFG%               676 non-null    float64
 17  FT                 679 non-null    int64
 18  FTA                679 non-null    int64
 19  FT%                642 non-null    float64
 20  ORB                679 non-null    int64
 21  DRB                679 non-null    int64
 22  TRB                679 non-null    int64
 23  AST                679 non-null    int64
 24  STL                679 non-null    int64
 25  BLK                679 non-null    int64
 26  TOV                679 non-null    int64
 27  PF                 679 non-null    int64
 28  PTS                679 non-null    int64
 29  Player-additional  679 non-null    object
dtypes: float64(5), int64(21), object(4)
memory usage: 159.3+ KB

## Data Augmentation

While the stats included in the dataset are useful for giving us a wide view of a player's contributions throughout the season, basketball fans and analysts have devised more advanced tools to more accurately quantify these contributions. You can look up any of these statistics to see how they're calculated

Add the following statistics as new columns to the dataframe (suggested column name in parentheses):
- Points per shot (PPS)
- Points per possession (PPP)
- True Shooting Percentage (TS%)
- Free Throw Rate (FTR)
- Assist-to-Turnover Ratio (ATO)
- Hollinger Assist Ratio (hAST%)

In [16]:
# Adding Additional Analytics
nba['PPS'] = ((nba['2P'] * 2 + nba['3P'] * 3)/ (nba['2PA'] + nba['3PA'])).round()
#nba['TS%'] = 
#nba['FTR'] = 
#nba['ATO'] = 
#nba['hAST%'] = 
nba

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional,PPS
0,Precious Achiuwa,C,23,TOR,55,12,1140,196,404,0.485,...,228,328,50,31,30,59,102,508,achiupr01,1.0
1,Steven Adams,C,29,MEM,42,42,1133,157,263,0.597,...,271,485,97,36,46,79,98,361,adamsst01,1.0
2,Bam Adebayo,C,25,MIA,75,75,2598,602,1114,0.540,...,504,688,240,88,61,187,208,1529,adebaba01,1.0
3,Ochai Agbaji,SG,22,UTA,59,22,1209,165,386,0.427,...,78,121,67,16,15,41,99,467,agbajoc01,1.0
4,Santi Aldama,PF,22,MEM,77,20,1682,247,525,0.470,...,286,371,97,45,48,60,143,696,aldamsa01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,Thaddeus Young,PF,34,TOR,54,9,795,108,198,0.545,...,95,166,75,54,5,42,88,240,youngth01,1.0
675,Trae Young,PG,24,ATL,73,73,2541,597,1390,0.429,...,161,217,741,80,9,300,104,1914,youngtr01,1.0
676,Omer Yurtseven,C,24,MIA,9,0,83,16,27,0.593,...,15,23,2,2,2,4,16,40,yurtsom01,1.0
677,Cody Zeller,C,30,MIA,15,2,217,37,59,0.627,...,39,64,10,3,4,14,33,98,zelleco01,1.0
678,Ivica Zubac,C,25,LAC,76,76,2170,326,514,0.634,...,520,756,77,29,98,117,219,818,zubaciv01,1.0

### Team-Contextual Analytics
Understanding a player's value in the context of their *team* is also an important consideration. For example, could a given player be scoring more points simply because they're playing next to a superstar who commands more defensive attention? Is a given center grabbing lots of defensive rebounds because they're skilled, or because their teammates are forcing more bad shots? The following statistics are a bit more difficult to calculate, but may yield better insight about a player's *context* within his team:

- Rebound Rate (TRB%)
- Usage Percentage (USG%)

For these stats you'll need to calculate *team* totals. I recommend creating a pivot table called `team_totals` that aggregates the sum of each column in your original dataset on a per team basis. Then when you need to use a player's team totals, you can look at the appropriate row/column of the `team_totals` dataframe.

In [5]:
# Team-Contextual Analytics

## Querying the Data

### Simple Lookups
Display the top five players in the league for the following stats: minutes, points, free-throw attempts, 3-pointers made, and assists (For each of these statistics, number 1 should be the *biggest*). 

Do these lists make sense? (If you're not sure, check with a friend who's into basketball, they'll help!)

### More Complex Lookups

- Print out the positions in order of highest average points per player to lowest points per player.
- Repeat the previous question for average blocks per player, per position.
- Determine the league's top scorers in terms of *points per minute* among players who have played at least half their team's total minutes.

## Visualizing the Data

- Create a heatmap that shows the number of players in each *quintile* of points scored at each position (this should be a 5x5 heatmap)
- Create a scatter plot that shows players' total points on the y axis vs minutes on the x axis. Draw a trendline fit to the data. What does that trendline represent?